<!DOCTYPE html>
<html>

<head th:include="fragments/header :: head(title='SB Admin 2 - Forms')">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>Create New Product</title>
</head>
<body>

<div id="wrapper">

	<div th:replace="fragments/header :: header">&nbsp;</div>

		<div id="page-wrapper">
	
			<h1> Edit Product  </h1> 
			
				<form action="#" th:action="@{/crudsave}" th:object="${product}"  method="post">
		
					 <div class="form-group">
					 
					 	<label for="id">Product ID: </label>
						<input type="text" th:field="*{id}" readonly="readonly" />
					 </div>
					
					 <div class="form-group">
					 		<label for="name">Product Name: </label>
					 		
							<input type="text" th:field="*{name}" />
					  </div>
					  
					   <div class="form-group">
					   		<label for="brand">Brand:  </label>
							<input type="text" th:field="*{brand}" />
					  </div>
					  
					  
					   <div class="form-group">
					   		<label for="madein">Made In: </label>
							<input type="text" th:field="*{madein}" />
					  </div>
					  
					  
					   <div class="form-group">
					   		<label for="price">Price: </label>
							<input type="text" th:field="*{price}" />
					  </div>
					  
					   <div class="form-group">
							<button type="submit">Save</button>
					  </div>
					  
				</form>
			

		</div>
		<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->


<div th:replace="fragments/footer :: jquery">JavaScript tags are
		loaded here</div>
	<div th:replace="fragments/footer :: bootsrtapjs">JavaScript tags
		are loaded here</div>
	<div th:replace="fragments/footer :: metisjs">JavaScript tags are
		loaded here</div>
	<div th:replace="fragments/footer :: sb-admin">JavaScript tags
		are loaded here</div>

</body>
</html>